# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and tests
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Virtual Environments
.venv/
env/
venv/
ENV/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit temporary files
.streamlit/secrets.toml
